body {
  background-image: url(../images/webb-dark/webb-dark.png);
   margin: 10px;
   border-radius: 5px;
   cursor: pointer;
} 

.jumbotron {
  text-align: center;
}


#video {
  ;
}

form {
  margin: px;
  font-size: 20px;
  color: beige;
  
}

label {
  color: #F4D06F;
}

#add-emotion {
  color: #F4D06F;
  background-color: #684756;
  width: 80%;
 
}

input {
  margin: 10px;
}

button {
  margin: 15px;
  color: #F4D06F;
  background-color: #282829;
  width: 80%;
  font-size: 20px;

}

#emotion-column{
  background-color;
  
}

#gifContainer{
  background-color: yellowgreen;
}
